.works-list {
    display: flex;
}

.works-list__item {
    flex-basis: calc((100% - 60px)/3);
    position: relative;
}

.works-list__item:not(:last-child) {
    margin-right: 30px;
}

.works-list__img {
    display: block;
}

.works-list__text {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 27px 80px;

    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 700;
    color: $accent-white-color;
    background-color: rgba(47, 48, 58, 0.8);
}
