.checkbox {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.checkbox__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
    color: rgba(117, 117, 117, 1);
}

.checkbox__icon {
    display: flex;
    align-items: center;
    justify-items: center;

    margin-right: 5px;
    width: 15px;
    height: 14px;
    border: 2px solid #212121;
    border-radius: 2px;

    .checkbox__input:checked + & {
        background-color: $accent-blue-color;
        border: 2px solid $accent-blue-color;
        background-image: url(../images/main/checked.svg);
    }
}

.checkbox__link {
    color: $accent-blue-color;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
}