.clients {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
    max-width: 210px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:not(:nth-child(n + 5)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 13px 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color $timer-animation-duration $timer-cubic-function,
    border $timer-animation-duration $timer-cubic-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-blue-color;
  }
}

.clients__icon {
  fill: #afb1b8;

  .clients__link:hover & {
    fill: $accent-blue-color;
  }
}
