
.select {
    display: flex;
    justify-content: center;


    @media screen and (max-width: 767px) {   
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -15px;
}
}

.select__item {

    &:not(:last-child) {
        margin-right: 8px;
    }

    @media screen and (max-width: 767px) {   

    margin-bottom: 15px;
    }



}

.select__button {
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    
    background-color: #F5F4FA;
    color: currentColor;
    cursor: pointer;

    font-family: inherit;
    letter-spacing: inherit;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;

    transition: 
        box-shadow $timer-animation-duration $timer-cubic-function, 
        color $timer-animation-duration $timer-cubic-function, 
        background-color $timer-animation-duration $timer-cubic-function;

        &:hover, &:focus {
            background-color: $accent-blue-color;
            color: $accent-white-color;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }


}

