.footer-adress {
    margin-top: 20px;
    font-style: normal;
}

.footer-adress__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress__link {

    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;

    transition: color $timer-animation-duration $timer-cubic-function;

    &:hover, &:focus {
    
        color: $accent-blue-color; 
    }
}

.footer-adress__link--color {

    color: $accent-white-color;
}




