.social__wrapper {
    margin-left: 70px;
    padding-top: 12px;
}

.social__text {
    margin-top: 0;
    margin-bottom: 20px;
    width: 70%;
    
    color: $accent-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}