.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item {
    position: relative;
}

.site-nav__item:not(:first-child) {
    margin-left: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: currentColor;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 500;

    transition: color $timer-animation-duration $timer-cubic-function;

    &:hover, &:focus {

        color: $accent-blue-color; 
    }
}

.site-nav__link--current {
    color: $accent-blue-color;
}

.site-nav__link--current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-blue-color;
    border-radius: 2px;
}

