.site-nav {

@media screen and (min-width: 768px) {
    display: flex;

}
    
}


.site-nav__item {
    position: relative;
}

.site-nav__item:not(:first-child) {
    @media screen and (max-width: 767px) {
        margin-top: 32px;
    }


@media screen and (min-width: 768px) {
    margin-left: 50px;
}
}

.site-nav__link {
    display: block;
 
    
    color: currentColor;
    font-size: 14px;
    line-height: 1.17;

    @media screen and (max-width: 767px) {
        font-size: 40px;
        line-height: 1.17;
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    letter-spacing: 0.02em;
    font-weight: 500;

    transition: color $timer-animation-duration $timer-cubic-function;

    &:hover, &:focus {

        color: $accent-blue-color; 
    }
}

.site-nav__link--current {
    color: $accent-blue-color;
}

.site-nav__link--current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-blue-color;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

