$text-grey-color: #757575;
$title-black-color: #212121;
$accent-blue-color: #2196F3;
$accent-white-color: #FFFFFF;
$timer-animation-duration: 250ms;
$timer-cubic-function: cubic-bezier(0.4, 0, 0.2, 1);