.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header__container {
    display: flex;
    align-items: center;
}

.page-footer__container {
    display: flex;
}
