.section {

@media screen and ( max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;

}
@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section--top-padding {
@media screen and ( max-width: 1199px) {
    display: none;
}
    padding-top: 0;
}

.section--background {
    background-color: #F5F4FA;    
}