.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section--top-padding {
    padding-top: 0;
}

.section--background {
    background-color: #F5F4FA;    
}